pandas 
PyQt6-WebEngine
PyQt6
qt_material
numpy
pure-python-adb
requests
pandas
opencv-python
python-dotenv
pyautogui
pyperclip
pyinstaller
Pillow

pytesseract
openpyxl
#paddlepaddle==2.6.1
#paddleocr==2.7.3
#keras-ocr 
#tensorflow
easyocr